@using frontend.Models
@inherits ComponentBase

<div id="modal">
    <Modal @ref="_modal" ModalType="ModalType.Secondary" Size="ModalSize.Large" BodyCssClass="dark-modal-body">
        <HeaderTemplate>
            <span id="title">@Legend.Title</span>
        </HeaderTemplate>
        <BodyTemplate>
            <p id="description">@Legend.Description</p>
            <span id="type">@Legend.Type</span>
            <div id="posted-by">
                <label for="author">Publicado por:</label>
                <span>@Legend.PostedBy</span>
            </div>
        </BodyTemplate>
    </Modal>
</div>

@code {
    public Modal? _modal;
    public Legend Legend { get; set; } = new();

    [JSInvokable]
    public async Task OpenModal(Legend legend)
    {
        Legend = legend;
        await _modal!.ShowAsync();
    }
}