#container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#container ::deep #map{
    height: 100%;
    width: 75%;
}

#sidebar{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: fit-content;
    max-height: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding-left: .5%;
    padding-top: .5%;
}

#searchbar{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    padding-right: 2%;
    margin-bottom: 10px;
    input{
        background-color: antiquewhite;
        width: 50%;
    }
}

#search-btn{
    background-color: burlywood;
    border: 0;
    width: 30%;
    overflow: hidden;
}

#legends{
    overflow-y: auto;
}

.legend-item{
    margin-bottom: 10px;
}

.legend-item:hover{
    cursor: pointer;
}