#container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 25vw;
    div{
        display: flex;
        flex-direction: column;
    }
    label{
        color: white;
        font-size: calc(1rem + 0.5vh);
    }
    textarea{
        width: 25vw;
        background-color: antiquewhite;
        border: 1px solid gray;
    }
    input{
        width: 25vw;
        background-color: antiquewhite;
        border: 1px solid gray;
        height: calc(20px + 2vh);
    }
    button{
        height: calc(20px + 1vh);
        width: 50%;
        height: 14%;
        background-color: burlywood;
        border: 0;
    }
}

#container ::deep #map{
    height: 70vh;
    width: 50vw;
}