@using frontend.Components.Layout
@page "/login"
@layout EmptyLayout
@inject IJSRuntime _jS
@rendermode InteractiveServer

<div id="container">
    <h1 class="misterix">Misterix</h1>
    <div id="properties">
        <h1>Log in/Sign up</h1>
        <div class="property">
            <label for="login">Login:</label>
            <input type="text" name="login" id="login" @bind-value="_login">
        </div>
        <div class="property">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" @bind-value="_password">
        </div>
        <button id="submit-btn" @onclick="TryLogin">Confirmar</button>
    </div>
</div>

@code
{
    private string _login = string.Empty, _password = string.Empty;

    private async Task TryLogin()
    {
        await _jS.InvokeVoidAsync("login", _login, _password);
    }
}
