#legends{
    height: 80vh;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 1vw;
}

.legend-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
}

.legend-item:hover{
    cursor: pointer;
}

#legends .legend-item:last-child{
    margin-bottom: 0;
}

.property{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.legend-item .property:last-child{
    margin-bottom: 0;
}

.description{
    overflow: auto;
}

#modal-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly; 
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 25vw;
    div{
        display: flex;
        flex-direction: column;
    }
    label{
        font-size: calc(1rem + 0.5vh);
    }
    textarea{
        width: 25vw;
        background-color: antiquewhite;
        border: 1px solid gray;
    }
    input{
        width: 25vw;
        background-color: antiquewhite;
        border: 1px solid gray;
        height: calc(20px + 2vh);
    }
}