@page "/statistics"

<div id="container">
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480"
        src="https://charts.mongodb.com/charts-project-0-psuctvf/embed/charts?id=db6692c2-6a3f-486e-9806-2cdb28fc1831&maxDataAge=3600&theme=dark&autoRefresh=true">
    </iframe>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480"
        src="https://charts.mongodb.com/charts-project-0-psuctvf/embed/charts?id=c1673b5d-ef66-4605-bc4d-0c0b48a00657&maxDataAge=3600&theme=dark&autoRefresh=true">
    </iframe>
</div>